<div class="sections">
	<% @sections.each do |section| %>
	<div class="section">
		<%= link_to section.text, "/sections/#{section.href}#{'?location='+params[:location] if params[:location]}" %>
	</div>
	<% end %>	
</div>