<div style="text-align:center">
	<h1>Craigspics</h1>
	<% @domains.each_slice(3) do |tridomain| %>
	<div style="width:33.3333%; float: left;">
		<% tridomain.each do |domain| %>
		<div>
			<%= link_to domain.text, "/#{/http:\/\/(.+)\.craigslist\.org/.match(domain.href)[1]}" %>
		</div>
		<% end %>	
	</div>
	<% end %>
</div>